Nodered json flow.json
[{"id":"3a0e62d.2964e9e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1b6cc6fe.0f8619","type":"function","z":"3a0e62d.2964e9e","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"yr\",msg.payload.yr);\nglobal.set(\"am\",msg.payload.am);\nglobal.set(\"id\",msg.payload.id);\nglobal.set(\"al\",msg.payload.al);\nglobal.set(\"pe\",msg.payload.pe);\nglobal.set(\"hb\",msg.payload.hb);\nglobal.set(\"me\",msg.payload.me);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"u5d\",msg.payload.u5d);\nglobal.set(\"pol\",msg.payload.pol);\nglobal.set(\"te\",msg.payload.te);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"hiv\",msg.payload.hiv);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"pop\",msg.payload.pop);\nglobal.set(\"th19\",msg.payload.th19);\nglobal.set(\"th9\",msg.payload.th9);\nglobal.set(\"inc\",msg.payload.inc);\nglobal.set(\"sc\",msg.payload.sc);\n\n\n//following are required to receive a token\nvar apikey=\"rSJpRzCll6SznPPNLzlRzFeIgnGmvBZNJ8PYXmUh2Atx\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":100,"wires":[["d241850c.83dca8"]]},{"id":"49570e69.7be38","type":"http request","z":"3a0e62d.2964e9e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/40b357b2-0a2a-4cbe-9fe0-4074f295ddcf/deployments/0896a96e-5448-4c9e-88ee-5ad899693aec/online","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":180,"wires":[["6f777355.1d60ac","eb22ff18.e15d4"]]},{"id":"2e1382f9.22b33e","type":"debug","z":"3a0e62d.2964e9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"eb22ff18.e15d4","type":"function","z":"3a0e62d.2964e9e","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["2e1382f9.22b33e","ca4dfa46.596358"]]},{"id":"6f777355.1d60ac","type":"debug","z":"3a0e62d.2964e9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":180,"wires":[]},{"id":"3b1dd37f.551c2c","type":"function","z":"3a0e62d.2964e9e","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"40b357b2-0a2a-4cbe-9fe0-4074f295ddcf\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar yr = global.get(\"yr\");\nvar am = global.get(\"am\");\nvar id = global.get(\"id\");\nvar al = global.get(\"al\");\nvar pe = global.get(\"pe\");\nvar hb = global.get(\"hb\");\nvar me = global.get(\"me\");\nvar bmi = global.get(\"bmi\");\nvar u5d = global.get(\"u5d\");\nvar pol = global.get(\"pol\");\nvar te = global.get(\"te\");\nvar d = global.get(\"d\");\nvar hiv = global.get(\"hiv\");\nvar gdp = global.get(\"gdp\");\nvar pop = global.get(\"pop\");\nvar th19 = global.get(\"th19\");\nvar th9 = global.get(\"th9\");\nvar inc = global.get(\"inc\");\nvar sc = global.get(\"sc\");\n\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Adult Mortality\",\"Infant Deaths\",\"Alcohol\",\"Percentage Expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"Under-Five Deaths\",\"Polio\",\"Total Expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"Thinness 1-19 years\",\"Thinness 5-9 years\",\"Income Composition of Resources\",\"Schooling\"],\n\"values\":[[yr,am,id,al,pe,hb,me,bmi,u5d,pol,te,d,hiv,gdp,pop,th19,th9,inc,sc]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["49570e69.7be38"]]},{"id":"d241850c.83dca8","type":"http request","z":"3a0e62d.2964e9e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":100,"wires":[["3b1dd37f.551c2c"]]},{"id":"ca4dfa46.596358","type":"ui_text","z":"3a0e62d.2964e9e","group":"4b01b66.aeb0d48","order":1,"width":0,"height":0,"name":"Life Expectancy","label":"Life Expectancy :-","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":400,"wires":[]},{"id":"66596b47.6910c4","type":"ui_form","z":"3a0e62d.2964e9e","name":"","label":"","group":"4b01b66.aeb0d48","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"yr","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"me","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"u5d","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"d","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"th19","type":"number","required":true,"rows":null},{"label":"Thinness  5-9 years","value":"th9","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"inc","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":true,"rows":null}],"formValue":{"yr":"","am":"","id":"","al":"","pe":"","hb":"","me":"","bmi":"","u5d":"","pol":"","te":"","d":"","hiv":"","gdp":"","pop":"","th19":"","th9":"","inc":"","sc":""},"payload":"","submit":"PREDICT","cancel":"CLEAR","topic":"","x":70,"y":100,"wires":[["1b6cc6fe.0f8619"]]},{"id":"4b01b66.aeb0d48","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"4fa629f7.5c0ce8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fa629f7.5c0ce8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]